.product {
    margin-bottom: 40px;

    .title {
        font-weight: 600;
        margin-bottom: 40px;

        & > h3 {
            font-size: 2.2rem;
            font-weight: 700;
        }

        .btnAddToCard {
            height: 20px;
            font-size: 1.2rem;
            margin: 5px 0;
            padding: 3px 14px 3px 10px;
            border: 1px solid #008891;
        }
    }
}

.productBox {
    padding: 5px 0;

    .productTitle {
        height: 1.4rem;
        font-size: 1.4rem;
        line-height: 1.4rem;
        cursor: pointer;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }

    .productDescription {
        font-size: 1.2rem;
        padding-top: 15px;
        color: #333;
        margin: 0;
    }

    .productCost {
        font-size: 18px;
        font-weight: 600;
        color: var(--primary);
        display: flex;

        & > ins {
            font-weight: 700;
        }

        & > strike {
            font-size: 1.4rem;
            font-weight: 300;
            color: #666;
            margin-left: 5px;
        }
    }

    @media screen and (max-width: 768px) {
        .productCost {
            flex-flow: column;

            & > strike {
                margin: 0;
            }
        }
    }
    .btnAddToCard {
        display: flex;
        box-sizing: content-box;
        align-items: center;
        height: 20px;
        font-size: 1.2rem;
        margin: 5px 0;
        padding: 3px 14px 3px 10px;
        border: 1px solid #008891;
        border-radius: 2px;
        overflow: hidden;
    }
}

.next,
.prev {
    position: absolute;
    top: calc(50% - 10px);
    z-index: 3;
    font-size: 2rem;
    color: #fff;
    background-color: #0f3057;
    padding: 10px 5px;
    z-index: 100;
    display: none;
}

.next {
    right: 7.5px;
}

.prev {
    left: 7.5px;
}

.show {
    display: flex;
}

.viewMore {
    align-items: center;
    justify-content: center;

    .btnViewMore {
        width: 198px !important;
        height: 34px;
        border: 1px solid #0f3057;
        border-radius: 3px;
        margin: 20px 0 0;
    }
}
