// NavBar
.navBar {
    display: flex;

    .navBarItem {
        height: 41px;
        min-width: 100px;
        flex-grow: 1;
        list-style-type: none;
        background-color: var(--white);

        &:hover {
            background-color: #0f3057;
        }

        &:hover .navBarLink {
            color: #fff;
        }

        &:hover .navBarItemIcon {
            color: #fff;
        }

        .navBarLink {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            padding: 10px;
            width: 100%;
            height: 100%;
            font-size: 1.5rem;
            font-weight: 500;
            text-align: center;

            .navBarItemIcon {
                margin-left: 5px;
                font-size: 1rem;
            }
        }

        .navBarItemIcon,
        .navBarLink {
            color: #333;
        }
    }
}
