.productImage {
    width: 100%;
}

.productSale {
    position: absolute;
    text-align: center;
    line-height: 22px;
    font-size: 1rem;
    font-weight: 400;
    top: 0;
    right: 0;
    z-index: 100;
    padding: 0 8px;
    color: #fff;
    background-color: #008891;
}
