:root {
    --top-bar-height: 41px;
    --top-bar-font-size: 1.4rem;
    --top-bar-line-height: 1.6rem;
}

.topBar {
    display: flex;
    align-items: center;
    background-color: var(--primary);
    height: var(--top-bar-height);
    color: var(--white);
    font-size: var(--top-bar-font-size);

    .topBarRight {
        display: flex;
        flex-direction: row-reverse;
    }

    // .topBarLeft {
    // }

    .marquee,
    .checkOrder,
    .zocoin {
        color: var(--white);
        font-size: var(--top-bar-font-size);
    }

    .topBarRightIcon {
        font-size: 1.4rem;
        margin-right: 5px;
    }

    .zocoin {
        margin-left: 20px;
    }
}

.searchBar {
    background-color: var(--white);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    height: var(--nav-bar-height);
    // LOGO
    .logo {
        display: flex;
        justify-content: start;
        width: 100%;
        height: 100%;

        @media screen and (max-width: 576px) {
            .image {
                width: 100%;
            }
        }
    }

    // SEARCH
    .search {
        display: flex;
        align-items: center;
        background-color: var(--white);
        height: 40px;
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
        border: 1px solid rgba($color: #000000, $alpha: 0.5);

        .searchInput {
            flex-grow: 1;
            border: none;
            outline: none;
            font-size: 1.6rem;
            font-weight: 500;
            padding: 0 20px;
        }

        .searchBtn {
            min-width: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80%;
            text-decoration: none;
            border-left: 1px solid rgba($color: #000000, $alpha: 0.3);

            &:hover {
                cursor: pointer;
                opacity: 0.8;
            }

            &:active {
                transform: scale(0.95);
            }

            .searchIcon {
                font-size: 1.8rem;
                color: #333;
            }

            .searchLabel {
                font-size: 1.3rem;
                color: #333;
                font-weight: 600;
                line-height: 1.6rem;
                text-align: center;
                margin-left: 5px;
            }
        }
    }

    // HOTLINE
    .hotline {
        display: flex;
        align-items: center;
        justify-content: end;
        .hotlineItem {
            font-size: 1.4rem;
            font-weight: 600;
            color: var(--black);
            margin-right: 2px;

            &:hover {
                cursor: pointer;
                opacity: 0.5;
            }
        }

        .hotlineCard {
            font-size: 2.5rem;
            margin-left: 8px;
            position: relative;

            &::after {
                content: '0';
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: #008891;
                position: absolute;
                top: -5px;
                right: -10px;
                font-size: 1.6rem;
                line-height: 2rem;
                color: var(--bs-light);
            }
        }

        .hotlineMenu,
        .hotlineCard,
        .hotlineSearch {
            font-size: 2.6rem;
            margin-left: 20px;
            background-color: transparent;
        }
    }
}

.offcanvasSidebar {
    padding: 30px 20px 25px;
}

.cardHeader,
.menuHeader {
    width: 100%;
    border-bottom: 2px solid #d9d9d9;
    padding: 0 !important;

    .cardTitle,
    .menuTitle {
        font-size: 1.6rem;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
        color: #0f3057;
        width: 100%;
        padding-bottom: 10px;
    }
}

// NavBar
.navBar {
    display: flex;

    .navBarItem {
        height: 41px;
        min-width: 100px;
        flex-grow: 1;
        list-style-type: none;
        background-color: var(--white);

        &:hover {
            background-color: #0f3057;
        }

        &:hover .navBarLink {
            color: #fff;
        }

        &:hover .navBarItemIcon {
            color: #fff;
        }

        .navBarLink {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            padding: 10px;
            width: 100%;
            height: 100%;
            font-size: 1.5rem;
            font-weight: 500;
            text-align: center;

            .navBarItemIcon {
                margin-left: 5px;
                font-size: 1rem;
            }
        }

        .navBarItemIcon,
        .navBarLink {
            color: #333;
        }
    }
}
