:root {
    --nav-bar-height: 83px;
}

.wrapper {
    background-color: var(--white);
    text-align: center;
    padding: 15px 0;
    height: var(--nav-bar-height);
}

// LOGO
.logo {
    display: flex;
    justify-content: start;
    width: 100%;
    height: 100%;

    @media screen and (max-width: 576px) {
        .image {
            width: 100%;
        }
    }
}

// SEARCH
.search {
    display: flex;
    align-items: center;
    background-color: var(--white);
    height: 40px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid rgba($color: #000000, $alpha: 0.5);

    .search__input {
        flex-grow: 1;
        border: none;
        outline: none;
        font-size: 1.6rem;
        font-weight: 500;
        padding: 0 20px;
    }

    .search__btn {
        min-width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80%;
        text-decoration: none;
        border-left: 1px solid rgba($color: #000000, $alpha: 0.3);

        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }

        &:active {
            transform: scale(0.95);
        }

        .search__icon {
            font-size: 1.8rem;
            color: #333;
        }

        .search__label {
            font-size: 1.3rem;
            color: #333;
            font-weight: 600;
            line-height: 1.6rem;
            text-align: center;
            margin-left: 5px;
        }
    }
}

// HOTLINE
.hotline {
    display: flex;
    align-items: center;
    justify-content: end;
    .hotline__item {
        font-size: 1.4rem;
        font-weight: 600;
        color: var(--black);
        margin-right: 2px;

        &:hover {
            cursor: pointer;
            opacity: 0.9;
        }
    }

    .hotline__cart {
        font-size: 2.5rem;
        margin-left: 8px;
        position: relative;

        &::after {
            content: '0';
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #008891;
            position: absolute;
            top: -5px;
            right: -10px;
            font-size: 1.6rem;
            line-height: 2rem;
            color: var(--bs-light);
        }
    }

    .hotline__menu,
    .hotline__cart,
    .hotline__search {
        font-size: 2.6rem;
        margin-left: 20px;
        background-color: transparent;
    }
}
